<!doctype html>
<head>
    <meta charset="utf-8" />
    <title>Psychology Experiment - Short OLIFE Questionnaire</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <link rel="icon" href="/static/favicon.ico" />
    <script type="text/javascript">
        function onexit() {
            self.close(); // no harm, no foul here
        }
    </script>
    <style type="text/css">
        .olife{
            visibility: hidden;
        }
    </style>
    <script type="text/javascript">
        /***********************************************
         * Random Content Order script- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
         * Please keep this notice intact
         * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
         ***********************************************/

        function randomizeContent(classname){
            var contents=randomizeContent.collectElementbyClass(classname)
            contents.text.sort(function() {return 0.5 - Math.random();})
            var tbodyref=contents.ref[0].tagName=="TR"? contents.ref[0].parentNode : new Object()
            for (var i=0; i<contents.ref.length; i++){
                if (tbodyref.moveRow) //if IE
                    tbodyref.moveRow(0, Math.round(Math.random()*(tbodyref.rows.length-1)))
                else
                    contents.ref[i].innerHTML=contents.text[i]
                contents.ref[i].style.visibility="visible"
            }
        }

        randomizeContent.collectElementbyClass=function(classname){ //return two arrays containing elements with specified classname, plus their innerHTML content
            var classnameRE=new RegExp("(^|\\s+)"+classname+"($|\\s+)", "i") //regular expression to screen for classname within element
            var contentobj=new Object()
            contentobj.ref=new Array() //array containing references to the participating contents
            contentobj.text=new Array() //array containing participating contents' contents (innerHTML property)
            var alltags=document.all? document.all : document.getElementsByTagName("*")
            for (var i=0; i<alltags.length; i++){
                if (typeof alltags[i].className=="string" && alltags[i].className.search(classnameRE)!=-1){
                    contentobj.ref[contentobj.ref.length]=alltags[i]
                    contentobj.text[contentobj.text.length]=alltags[i].innerHTML
                }
            }
            return contentobj
        }
    </script>
    <!--
-->
    <style>
        @media print {
            body * {
                visibility: hidden;
            }
            .legal, .legal * {
                visibility: visible;
            }
            .legal {
                position: absolute;
                left: auto;
                top: auto;
                overflow:visible;
            }
        }
    </style>
</head>

<body>
    <div id="olifequestionnaire">
        <br>
        <h4>Please answer the following questions truthfully.  All data are strictly anonymous and confidential and will not under any circumstances be passed to a third party.<br>
        <br> For each statement below, click Yes or No to indicate whether it applies to you. </h4>
        <hr>
        <div class="legal well">
        <div class="UE">
        <div class="olife">
         <br>When in the dark do you often see shapes and forms even though there is nothing there? &nbsp
                 <input name="1" type="radio" value=1/>Yes
                 <input name="1" type="radio" value=2/>No
        </div>
        <br>
        <div class="olife">
        <br>Are your thoughts sometimes so strong that you can almost hear them? &nbsp
                  <input name="2" type="radio" value=1/>Yes
                  <input name="2" type="radio" value=2/>No
        </div>
        <br>
        <div class="olife">
        <br>Have you ever thought that you had special, almost magical powers? &nbsp
                <input name="3" type="radio" value=1/>Yes
                <input name="3" type="radio" value=2/>No
        </div>
        <br>
        <div class="olife">
        <br>Have you sometimes sensed an evil presence around you, even though you could not see it? &nbsp
                <input name="4" type="radio" value=1/>Yes
                <input name="4" type="radio" value=2/>No
        </div>
        <br>
        <div class="olife">
        <br>Do you think that you could learn to read other’s minds if you wanted to? &nbsp
                <input name="5" type="radio" value=1/>Yes
                <input name="5" type="radio" value=2/>No
        </div>
        <br>
        <div class="olife">
        <br>When you look in the mirror does your face sometimes seem quite different from usual? &nbsp
                <input name="6" type="radio" value=1/>Yes
                <input name="6" type="radio" value=2/>No
        </div>
        <br>
        <div class="olife">
        <br>Do ideas and insights sometimes come to you so fast that you cannot express them all? &nbsp
                <input name="7" type="radio" value=1/>Yes
                <input name="7" type="radio" value=2/>No
        </div>
        <br>
        <div class="olife">
        <br>Can some people make you aware of them just by thinking about you? &nbsp
                <input name="8" type="radio" value=1/>Yes
                <input name="8" type="radio" value=2/>No
        </div>
        <br>
        <div class="olife">
        <br>Does a passing thought ever seem so real it frightens you? &nbsp
                <input name="9" type="radio" value=1/>Yes
                <input name="9" type="radio" value=2/>No
        </div>
        <br>
        <div class="olife">
        <br>Do you feel that your accidents are caused by mysterious forces? &nbsp
                <input name="10" type="radio" value=1/>Yes
                <input name="10" type="radio" value=2/>No
        </div>
        <br>
        <div class="olife">
        <br>Do you ever have a sense of vague danger or sudden dread for reasons that you do not understand? &nbsp
                <input name="11" type="radio" value=1/>Yes
                <input name="11" type="radio" value=2/>No
        </div>
        <br>
         <div class="olife">
        <br>Does your sense of smell sometimes become unusually strong? &nbsp
                <input name="12" type="radio" value=1/>Yes
                <input name="12" type="radio" value=2/>No
         </div>
         <br>
         </div>

         <div class="IA">
         <div class="olife">
         <br>Are there very few things that you have ever enjoyed doing?  &nbsp
                <input name="13" type="radio" value=1/>Yes
                <input name="13" type="radio" value=2/>No
         </div>
         <br>
         <div class="olife">
         <br>Are you much too independent to get involved with other people?  &nbsp
                <input name="14" type="radio" value=1/>Yes
                <input name="14" type="radio" value=2/>No
         </div>
         <br>
         <div class="olife">
         <br>Do you love having your back massaged? &nbsp
                <input name="15" type="radio" value=1/>Yes
                <input name="15" type="radio" value=2/>No
         </div>
         <br>
         <div class="olife">
         <br>Do you find the bright lights of a city exciting to look at?  &nbsp
                <input name="16" type="radio" value=1/>Yes
                <input name="16" type="radio" value=2/>No
         </div>
         <br>
         <div class="olife">
         <br>Do you feel very close to your friends?  &nbsp
                <input name="17" type="radio" value=1/>Yes
                <input name="17" type="radio" value=2/>No
         </div>
         <br>
         <div class="olife">
         <br>Has dancing or the idea of it always seemed dull to you?  &nbsp
                <input name="18" type="radio" value=1/>Yes
                <input name="18" type="radio" value=2/>No
         </div>
         <br>
         <div class="olife">
         <br>Do you like mixing with people? &nbsp
                <input name="19" type="radio" value=1/>Yes
                <input name="19" type="radio" value=2/>No
         </div>
         <br>
         <div class="olife">
         <br>Is trying new foods something you have always enjoyed? &nbsp
                <input name="20" type="radio" value=1/>Yes
                <input name="20" type="radio" value=2/>No
         </div>
         <br>
         <div class="olife">
         <br>Have you often felt uncomfortable when your friends touch you? &nbsp
                <input name="21" type="radio" value=1/>Yes
                <input name="21" type="radio" value=2/>No
         </div>
         <br>
         <div class="olife">
         <br>Do you prefer watching television to going out with people?   &nbsp
                <input name="22" type="radio" value=1/>Yes
                <input name="22" type="radio" value=2/>No
         </div>
         <br>
         </div>
         <div class="CD">
         <div class="olife">
         <br>Are you easily confused if too much happens at the same time? &nbsp
                 <input name="23" type="radio" value=1/>Yes
                 <input name="23" type="radio" value=2/>No
         </div>
         <br>
         <div class="olife">
         <br>Do you frequently have difficulty in starting to do things? &nbsp
                 <input name="24" type="radio" value=1/>Yes
                 <input name="24" type="radio" value=2/>No
         </div>
         <br>
         <div class="olife">
         <br>Are you a person whose mood goes up and down easily? &nbsp
                <input name="25" type="radio" value=1/>Yes
                <input name="25" type="radio" value=2/>No
         </div>
         <br>
          <div class="olife">
          <br>Do you dread going into a room by yourself where other people have already gathered and are talking?  &nbsp
                <input name="26" type="radio" value=1/>Yes
                <input name="26" type="radio" value=2/>No
          </div>
          <br>
          <div class="olife">
          <br>Do you find it difficult to keep interested in the same thing for a long time?  &nbsp
                <input name="27" type="radio" value=1/>Yes
                <input name="27" type="radio" value=2/>No
          </div>
          <br>
          <div class="olife">
          <br>Do you often have difficulties in controlling your thoughts? &nbsp
                <input name="28" type="radio" value=1/>Yes
                <input name="28" type="radio" value=2/>No
          </div>
          <br>
          <div class="olife">
          <br>Are you easily distracted from work by daydreams? &nbsp
                 <input name="29" type="radio" value=1/>Yes
                 <input name="29" type="radio" value=2/>No
          </div>
          <br>
          <div class="olife">
          <br>Do you ever feel that your speech is difficult to understand because the words are all mixed? &nbsp
                 <input name="30" type="radio" value=1/>Yes
                 <input name="30" type="radio" value=2/>No
          </div>
          <br>
          <div class="olife">
          <br>Are you easily distracted when you read or talk to someone? &nbsp
                 <input name="31" type="radio" value=1/>Yes
                 <input name="31" type="radio" value=2/>No
          </div>
          <br>
          <div class="olife">
          <br>Is it hard for you to make decisions?  &nbsp
                 <input name="32" type="radio" value=1/>Yes
                 <input name="32" type="radio" value=2/>No
          </div>
          <br>
          <div class="olife">
          <br>When in a crowded room, do you often have difficulty in following a conversation?  &nbsp
                 <input name="33" type="radio" value=1/>Yes
                 <input name="33" type="radio" value=2/>No
          </div>
          <br>
          </div>
          <div class="INC">
          <div class="olife">
          <br>Do you consider yourself to be pretty much an average sort of person? &nbsp
                 <input name="34" type="radio" value=1/>Yes
                 <input name="34" type="radio" value=2/>No
          </div>
          <br>
          <div class="olife">
          <br>Would you like other people to be afraid of you? &nbsp
                 <input name="35" type="radio" value=1/>Yes
                 <input name="35" type="radio" value=2/>No
          </div>
          <br>
           <div class="olife">
           <br>Do you often feel the impulse to spend money which you know you can’t afford?  &nbsp
                 <input name="36" type="radio" value=1/>Yes
                 <input name="36" type="radio" value=2/>No
           </div>
           <br>
           <div class="olife">
           <br>Are you usually in an average kind of mood, not too high and not too low? &nbsp
                 <input name="37" type="radio" value=1/>Yes
                 <input name="37" type="radio" value=2/>No
           </div>
           <br>
           <div class="olife">
           <br>Do you at times have an urge to do something harmful or shocking?  &nbsp
                 <input name="38" type="radio" value=1/>Yes
                 <input name="38" type="radio" value=2/>No
           </div>
           <br>
           <div class="olife">
           <br>Do you stop to think things over before doing anything? &nbsp
                 <input name="39" type="radio" value=1/>Yes
                 <input name="39" type="radio" value=2/>No
           </div>
           <br>
           <div class="olife">
           <br>Do you often overindulge in alcohol or food? &nbsp
                 <input name="40" type="radio" value=1/>Yes
                 <input name="40" type="radio" value=2/>No
           </div>
           <br>
            <div class="olife">
            <br>Do you ever have the urge to break or smash things? &nbsp
                 <input name="41" type="radio" value=1/>Yes
                 <input name="41" type="radio" value=2/>No
            </div>
            <br>
            <div class="olife">
            <br>Have you ever felt the urge to injure yourself? &nbsp
                 <input name="42" type="radio" value=1/>Yes
                 <input name="42" type="radio" value=2/>No
            </div>
            <br>
            <div class="olife">
            <br>Do you often feel like doing the opposite of what other people suggest even when they are right?  &nbsp
                 <input name="43" type="radio" value=1/>Yes
                 <input name="43" type="radio" value=2/>No
            </div>
            <br>
            </div>

            </hr>
    </div>
        <div style="text-align:center;">
           <button type="button" id="submitOLIFE">Submit</button><br>
        </div>

    </div>


<script type="text/javascript">

//randomize order of contents with DIV class="olife"
        randomizeContent("olife")

</script>

</body>
</html>
